extends layout

block content
  h1= title
  p Welcome to #{title} #{username}
  div
    ul(id="messages")
    form(action="" id="chatform")
      input(id="chatmessages", autocomplete="off")
      button Send

  script(type='text/javascript').
    var username = #{username}
    alert(username);
    var socket = io();
    socket.on('chat message', function(data){
      var text = data.userName + ': ' + data.msgContent + '     ' + data.msgTime;
      $('#messages').append($('<li>').text(text)); 
    });

    $('#chatform').submit(function(){
      socket.emit('chat message', $('#chatmessages').val());
      $('#chatmessages').val('');
      return false;
    });

   

  //- socket.on('chat message', function(data){
  //-   addMessage(data);  
  //- });


