doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/signin.css', rel='stylesheet')
    script(src="/javascripts/socket.io.js")
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/bootstrap.min.js')

    
  body
    block content

  //- script(src="../node_modules/socket.io/node_modules/socket.io-client/socket.io.js")
  
