extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action = "", method = 'post', class="form-signin")
    label.sr-only(for='registerAccount') Email address
    input#registerAccount.form-control(type='text', name='registerAccount', placeholder='Account', required='', autofocus='')
    label.sr-only(for='registerPassword') Password
    input#registerPassword.form-control(type='password', name='registerPassword', placeholder='Password', required='')
    label.sr-only(for='registerUserName') UserName
    input#registerUserName.form-control(type='text', name='registerUserName', placeholder='UserName', required='')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Register
