extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action = "", method = 'post')
    input(id="account", name="account", autocomplete="off")
    input(id="password", name="password", autocomplete="off")
    input(id="username", name="username", autocomplete="off")
    input(type='submit',value='Sign Up')
